
/* ---------------------------------------------- GLOBAL ---------------------------------------------- */

@font-face {
    font-family: 'BNPP regular';
    src: url('../fonts/bnpp-sans.eot');
    src: local('☺︎'),
    url("../fonts/bnpp-sans.woff") format("woff"),
    url("../fonts/bnpp-sans.svg") format("svg");
}

@font-face {
    font-family: 'BNPP regular cond';
    src: url('../fonts/bnpp-sans-cond-v2.eot');
    src: local('☺︎'),
    url("../fonts/bnpp-sans-cond-v2.woff") format("woff"),
    url("../fonts/bnpp-sans-cond-v2.svg") format("svg");
}

@font-face {
    font-family: 'BNPP Light cond';
    src: url('../fonts/bnpp-sans-cond-light-v2.eot');
    src: local('☺︎'),
url("../fonts/bnpp-sans-cond-light-v2.woff") format("woff"),
url("../fonts/bnpp-sans-cond-light-v2.svg") format("svg");
}

@font-face {
    font-family: 'BNPP Bold cond';
    src: url('../fonts/bnpp-sans-cond-bold-v2.eot');
    src: local('☺︎'),
url("../fonts/bnpp-sans-cond-bold-v2.woff") format("woff"),
url("../fonts/bnpp-sans-cond-bold-v2.svg") format("svg");
}


header#masthead {
    border-bottom: none;
    background: transparent;
    padding: 30px 30px;
}

header#masthead:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 29px;
    width: 100%;
    border: solid transparent;
    border-left-color: #393939;
    border-width: 1200px;
    border-top-width: 0;
    border-bottom-width: 140px;
    z-index: -1;
}
body{
    overflow-y: hidden;
    height:100%;
}
#main{
    max-width:1400px;
}
.side-titles-container {
    display: inline-block;
    vertical-align: middle;
}

h1.site-title {
    font-size: 34px;
    font-weight: 100;
    margin: 0;
    font-family: 'BNPP Light cond';
    line-height: 27px;
}

.logo-vertical-separator {
    display: inline-block;
    width: 1px;
    height: 48px;
    background: #FFFFFF;
    vertical-align: middle;
    margin: 0 10px 0 5px;
}

h2.site-description {
    display: inline-block;
    margin: 0;
    font-family: 'BNPP Light cond';
    font-size: 20px;
    line-height: 10px;
}

/* ---------------------------------------------- DOCUMENTATION ---------------------------------------------- */


div#primary {
    margin-left: 350px;
    padding-bottom: 0;
    position: relative;
    z-index: 0;
}

.documentations-pages-container {
    width: 100%;
    position: relative;
    padding-top: 70px;
}

.imac-container {
    max-width: 800px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.screenshot {
    overflow-y: auto;
    position: absolute;
    top: 28px;
    left: 20px;
    right: 19px;
    bottom: 31%;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.screenshot.active {
    opacity:1;
}

.screenshot-img{
    width: 100%;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.screenshot-img.active {
    opacity:1;
}
.nav-container {
    line-height: normal;
    position: absolute;
    right: 0;
    bottom: 30px;
}

.content-area .hentry {
    padding-bottom: 0;
}

.previous-button, .next-button {
    display: inline-block;
    border: 1px solid #000000;
    vertical-align: bottom;
    cursor: pointer;
    margin: 0 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.previous-button {
    padding: 5px 10px;
}

.next-button {
    padding: 5px 20px;
    font-size: 25px;
    background: #000;
    color: #fff;
}

.previous-button:hover, .next-button:hover {
    background: #5cc074;
    color: #FFFFFF;
} 

.documentation-text-container {
    position: absolute;
    left: calc(100% - 320px);
    top: 0;
    width: 320px;
    z-index: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.documentation-text-container.active {
    left: 100%;
}

.documentation-text {
    display: inline-block;
    line-height: normal;
    background: #3a393b;
    color: #FFFFFF;
    vertical-align: middle;
    border-bottom: 30px solid #3a393b;
    border-right: 5px solid #3a393b;
    padding: 30px 25px 0 30px;
    margin-top: 20px;
    overflow-y: auto;
}

img.imac {
    position: relative;
    z-index: 1;
}

img.loader {
    position: absolute;
    left: 50%;
    top: 52%;
    margin-left: -25px;
    z-index: 1;
    width: 50px;
    opacity: 0;
    -webkit-transition: all 0.5s 0.25s;
    -moz-transition: all 0.5s 0.25s;
    -o-transition: all 0.5s 0.25s;
    transition: all 0.5s 0.25s;
}

img.loader.active {
    opacity: 1;
}

img.bnp-logo {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -250px;
    z-index: 1;
    width: 500px;
    opacity: 0;
    -webkit-transition: all 0.5s 0.25s;
    -moz-transition: all 0.5s 0.25s;
    -o-transition: all 0.5s 0.25s;
    transition: all 0.5s 0.25s;
}

img.bnp-logo.active {
    opacity: 1;
}

/* ---------------------------------------------- MENU DOCUMENTATION ---------------------------------------------- */


.documentation-menu-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    bottom: 0;
    min-width: 100px;
    width: 100px;
    background: #5dc179;
    /* padding-top: 300px; */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

.documentation-menu-container:hover {
    width: 350px;
}
/*.documentation-menu-container.active {
    width: 350px;
}*/

.documentation-menu-container > .menu {
    list-style: none;
    padding: 0;
    overflow: hidden;
    background: #5CC074;
    padding-top: 300px;
    height: 100%;
}

.documentation-menu-container > .menu > li {
    color: #FFFFFF;
    font-family: 'BNPP Light cond';
    font-size: 26px;
    padding: 12px 0 3px 0;
    padding-left: 25px;
    border-bottom: 2px solid #FFF;
    /* width: 550px; */
}

.documentation-menu-container > .menu > li.hidden-children .sub-menu {
    display:none;
}

.documentation-menu-container > li .nav-title {
    vertical-align: middle;
}
.nav-title {
    vertical-align: middle;
    display: inline-block;
    line-height: normal /* et hop on rétablit le line-height */;
    max-width: 220px;
}

.documentation-menu-container .sub-menu {
    overflow-y: auto;
    position: absolute;
    left: -255px;
    top: 0;
    width: 250px;
    bottom: 0;
    /*padding-top: 200px;*/
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.43);
}

@media screen and (max-width: 1500px) {
    .documentation-menu-container .sub-menu {
        padding-top: 80px;
    }
    .documentation-menu-container .parent-menu.active .sub-menu{
        left:-150px;
    }

    .documentation-menu-container:hover .parent-menu.active .sub-menu {
        left: 100px;
    }
    div#primary {
        margin-left: 150px;
    }
    .page-doc-title {
        position: absolute;
        right: 0;
        max-width: 700px;
        top: 50px;
        line-height: normal;
        font-family: 'BNPP regular cond';
        font-size: 28px;
        text-transform: uppercase;
        color: #5dc074;
        text-align: right;
    }

    .page-doc-subtitle {
        position: absolute;
        right: 0;
        max-width: 700px;
        top: 100px;
        line-height: normal;
        font-family: 'BNPP regular cond';
        font-size: 18px;
        text-transform: uppercase;
        color: #000;
        text-align: right;
    }
}

@media screen and (min-width: 1500px) {
    .documentation-menu-container .sub-menu {
        padding-top: 200px;
    }
    .documentation-menu-container .parent-menu.active .sub-menu {
        left: 100px;
    }
    div#primary {
        margin-left: 350px;
    }

    .page-doc-title {
        position: absolute;
        right: 0;
        max-width: 700px;
        top: 100px;
        line-height: normal;
        font-family: 'BNPP regular cond';
        font-size: 38px;
        text-transform: uppercase;
        color: #5dc074;
        text-align: right;
    }

    .page-doc-subtitle {
        position: absolute;
        right: 0;
        max-width: 700px;
        top: 150px;
        line-height: normal;
        font-family: 'BNPP regular cond';
        font-size: 28px;
        text-transform: uppercase;
        color: #000;
        text-align: right;
    }
}


.documentation-menu-container:hover .parent-menu.active .sub-menu {
    left: 350px;
}
/*.documentation-menu-container.active .parent-menu.active .sub-menu{
    left: 350px;
}*/

.documentation-menu-container .sub-menu li {
    color: #000000;
    font-size: 20px;
    padding: 25px 0;
    border-bottom: 2px solid #000000;
}


span.menu-number {
    font-size: 40px;
    vertical-align: middle;
    margin-right: 120px;
    -webkit-transition: margin-right 1s;
    -moz-transition: margin-right 1s;
    -o-transition: margin-right 1s;
    transition: margin-right 1s;
}

.documentation-menu-container > .menu > li.parent-menu.active span.menu-number {
    color: #5ec179;
    font-family: 'BNPP bold cond';
}

.documentation-menu-container:hover span.menu-number {
    margin-right:30px;
}
/*.documentation-menu-container.active span.menu-number {
    margin-right:30px;
}*/

span.menu-arrow {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50px;
    top: calc(50% - 21px);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.documentation-menu-container:hover span.menu-arrow {
    left: 300px;
}
/*.documentation-menu-container.active span.menu-arrow{
   left: 300px;
}*/

span.menu-arrow.active {
    display: none;
}

.documentation-menu-container > .menu > li.parent-menu.active span.menu-arrow.active {
    display: block;
}

.documentation-menu-container > .menu > li.parent-menu.active span.menu-arrow.default {
    display: none;
}

.parent-menu-content {
    position: relative;
    width: 550px;
}

span.nav-title {
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.documentation-menu-container > .menu > li.parent-menu.active span.nav-title {
    color: #5ec179;
}

.documentation-menu-container > .menu > li.parent-menu .sub-menu span.nav-title {
    color: #000000;
    opacity: 1;
}

.documentation-menu-container > .menu > li.parent-menu.active .menu-item.active span.nav-title {
    color: #5ec179;
}

.documentation-menu-container:hover span.nav-title {
    opacity:1;
}
/*.documentation-menu-container.active span.nav-title{
   opacity:1;
}*/

.documentation-menu-container > .menu > li.parent-menu:hover {
    background: #53a76a;
}

.documentation-menu-container > .menu > li.parent-menu.active {
    background: #FFFFFF;
}

.panel-grid{
    width:1125px;
}
.mCS-screen.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
    background-color: #5CC074; 
    width: 10px;
}
.mCS-screen.mCSB_scrollTools .mCSB_draggerRail{ 
    background-color: #fff; 
} 

.mCS-tab.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
    background-color: #fff; 
} 
.mCS-tab.mCSB_scrollTools .mCSB_draggerRail{ 
    background-color: #000; 
} 