
.responsive-visible {
    display: none;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {

}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
   
}

@media (max-width: 991px) {


}

/*Portrait tablets and small desktops*/
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 780px) {

    /* general */

    .responsive-hidden {
        display: none;
    }

    .responsive-visible {
        display: block;
    }

    
}

@media (max-width: 600px) {

}

@media (max-width: 550px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {


}

@media (max-width: 380px) {


}
