body {
    overflow-x: hidden;
}

.page-wrap {
    padding-top: 0px;
}

.page-wrap .content-wrapper {
    background-color: inherit;
}

.page .page-wrap .content-wrapper, .single .page-wrap .content-wrapper {
    padding: 0;
}

.site-header {
    margin: 0;
    padding: 0;
}

header#masthead {
    position: fixed!important;
    padding: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #eee;
}

div#content {
    margin-top: 69px;
}

.content-area .post-wrap, .contact-form-wrap {
    padding-right: 0;
}

.admin-bar .site-header,
    .admin-bar .site-header.float-header {
        top: 0px;
    }

/* ---------------------------------------- HEADER ---------------------------------------- */


img.site-logo {
    max-height: 68px;
    padding: 5px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav#mainnav {
    line-height: 44px;
}

#mainnav ul li a {
    font-weight: 400;
    margin: 12px 0px;
    color: #4d4d54;
}

#mainnav ul li + li:before {
    content: "|";
    line-height: 61px;
    padding: 0 18px;
    color: #FD8F2D;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 1024px) {

    .button_container {
        position: fixed;
        top: 30px;
        right: 20px;
        height: 27px;
        width: 25px;
        cursor: pointer;
        z-index: 99999;
        transition: opacity 0.25s ease;
        -ms-transition: opacity 0.25s ease;
        -webkit-transition: opacity 0.25s ease;
        -moz-transition: opacity 0.25s ease;
        -o-transition: opacity 0.25s ease;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .button_container:hover {
        opacity: .7;
    }

    .button_container.active .top {
        transform: translateY(8px) translateX(0) rotate(45deg);
        -ms-transform: translateY(8px) translateX(0) rotate(45deg);
        -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
        -moz-transform: translateY(8px) translateX(0) rotate(45deg);
        -o-transform: translateY(8px) translateX(0) rotate(45deg);
        background: #fff;
    }

    .button_container.active .middle {
        opacity: 0;
        background: #666;
    }

    .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        -moz-transform: translateY(-11px) translateX(0) rotate(-45deg);
        -o-transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #fff;
    }

    .button_container span {
        background: #AAA;
        border: none;
        height: 3px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.35s ease;
        cursor: pointer;
    }

    .button_container span:nth-of-type(2) {
        top: 9px;
    }

    .button_container span:nth-of-type(3) {
        top: 19px;
    }

    .overlay {
        position: fixed;
        background: rgba(255, 255, 255, 0.38);
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;

        overflow: hidden;
        z-index: 100;

    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    .btn-menu:before {
        color: #1b224b;
    }

    .menu-container {
        position: fixed;
        max-height: 0;
        left: 0;
        z-index: 9998;
        width: 100%;
        /* top: 129px; */
        top: 0;
        height: 100%;
        padding-top: 0px;
        background: rgba(80,175,169,0.95);
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        overflow: hidden;
        opacity: 0;
    }

    .menu-container.open {
        max-height: 10000px;
        opacity: 1;
        top: 0;
    }

    .logo-container {
        width: 230px;
    }

    #mainnav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        max-width: 300px;
        margin: auto;
    }

    #mainnav ul li {
        float: none;
        width: 100%;
        display: block;
        border: none;
        margin-bottom: 15px;
        height: 15%;
        right: -60vw;
        opacity: 0;
        transition: all 0.5s 0.3s ease;
        -ms-transition: all 0.5s 0.3s ease;
        -webkit-transition: all 0.5s 0.3s ease;
        -moz-transition: all 0.5s 0.3s ease;
        -o-transition: all 0.5s 0.3s ease;
    }

    .menu-container.open #mainnav ul li {
        right: 0;
        opacity: 1;
    }

    .menu-container.open #mainnav ul li:nth-of-type(2) {
        transition-delay: .4s;
    }

    .menu-container.open #mainnav ul li:nth-of-type(3) {
        transition-delay: .45s;
    }

    .menu-container.open #mainnav ul li:nth-of-type(4) {
        transition-delay: .50s;
    }

    .menu-container.open #mainnav ul li:nth-of-type(5) {
        transition-delay: .55s;
    }

    #mainnav ul li a, #mainnav ul li::before, #mainnav li:hover > .sub-menu > li > a, #mainnav li > .sub-menu > li > a {
        font-size: 12px;
        float: none;
        color: #FFF;
        background: transparent;
        height: 25px;
    }

    #mainnav ul li + li:before {
        content: "";
        display: none;
    }

    .site-header nav#mainnav {
        float: none;
        display: block;
        height: 100%;
        padding-top: 15%;
    }

    .site-header.float-header #mainnav {
        padding-top: 13%;
    }

    .menu-main-menu-container {
        height: 35%;
    }

    #mainnav ul li ul, #mainnav li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        position: inherit;
        height: inherit;
    }

    #mainnav ul li + li {
        border: none;
    }

    #mainnav ul li ul li {
        border: none;
    }

    #mainnav ul li ul li:first-child {
        border: none;
    }

    #mainnav ul li ul li {
        border: none;
        font-weight: 300;
        margin-bottom: 0;
    }

    #mainnav ul li ul li:last-child {
        border: none;
    }

    #mainnav ul li a {
        font-size: 31px;
        margin: 0;
        padding-bottom: 10px;
        border-bottom: none;
        height: 48px;
        font-weight: 500;
        text-align: center;
    }

    #mainnav ul li a:hover {
        color:#000000;
    }

    #mainnav ul li.menu-espace-membre {
        display: none;
    }

    #mainnav ul li:last-child {
        border: none;
    }

    #mainnav .sub-menu {
        height: inherit;
    }

    #mainnav ul li:hover {
        background: none;
        color: #E3522B;
    }

    #mainnav li:hover > .sub-menu > li > a:hover, #mainnav li > .sub-menu > li > a:hover {
        background: none;
        color: #E3522B;
    }

    div#responsive-menu-opener {
        position: absolute;
        left: 50%;
        top: 8px;
        color: #062C5D;
        display: block;
        cursor: pointer;
        width: 100px;

    }

    img.site-logo {
        max-height: 55px;
    }

    div#toggle {
        top: 17px;
    }
}